.searchForm {
  justify-items: center;
  display: grid;
}
.searchInput {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid;
  margin-right: 20px;
  font-size: 20px;
  outline: transparent;
}
.searchInput:hover {
  background-color: #f4f8fa;
}

.searchButton {
  cursor: pointer;
  padding: 8px 15px;
  margin-bottom: 15px;
  transition: box-shadow 250ms linear;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 5px;
  border: 1px solid aqua;
  background-color: black;
  color: greenyellow;
}

.searchButton:hover {
  background-color: greenyellow;
  color: black;
  border: 1px solid black;
}
