.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 800;
  color: black;
  font-size: 18px;
  font-style: italic;
}

.link :focus,
.link:hover {
  color: #2196f3;
}
